header {
    background-color: white;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px 0;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 1;
    box-shadow: 0 0.7px 2.2px rgba(0, 0, 0, 0.02), 0 1.8px 5.3px rgba(0, 0, 0, 0.028), 0 3.4px 10px rgba(0, 0, 0, 0.035), 0 6px 17.9px rgba(0, 0, 0, 0.042), 0 11.3px 33.4px rgba(0, 0, 0, 0.05), 0 27px 80px rgba(0, 0, 0, 0.07);
}

button {
    border: none;
    background-image: linear-gradient( #ac74ec, #3669d8);
    border-radius: 5px;
    padding: 10px 25px;
    color: white;
    font-weight: bold;
}

.nav {
    margin: 10px;
    font-weight: bold;
}

nav>a {
    padding: 10px;
    color: black;
    text-decoration: none;
    border-radius: 5px;
}

nav>a:hover {
    background-color: rgb(225, 220, 245);
}