header {
    background-color: #ffeac2;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px 0;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
}

button {
    border: none;
    background-color: #1C1F21;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
}

.nav {
    margin: 10px;
}