<app-header></app-header>
<div class='container'>
    <div id="events-type">
        <!-- <span class="option">Recommended</span>
    <span class="option">All</span>
    <span class="option">My events</span> -->
    </div>
    <div class="grid-container">
        <div *ngFor='let event of events' class="grid-item">
            <img class="event-image" src={{event.image}}>
            <p class='id'>{{event.id}}</p>
            <h4>{{event.name}}</h4>
            <p class="event-date">{{event.date.short_date}}</p>
            <p class="event-location">{{event.location}}</p>
            <button id={{event.id}} class='details' (click)='showDetails($event)'>Details</button>
        </div>
    </div>
    <div id='navigate'>
        <button (click)="navigate(-1)"><</button>
        <span> Page {{currentPage}} of {{lastPage}} </span>
        <button (click)="navigate(1)">></button>
    </div>
</div>