.parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    max-width: 1200px;
    margin: 60px auto;
    padding: 30px;
    background-color: rgb(255, 255, 255);
}

.div1 {
    grid-area: 1 / 1 / 2 / 2;
}

.div2 {
    grid-area: 1 / 2 / 2 / 5;
    border-left: solid 1px;
}

.cell {
    padding: 40px;
}

.profile-picture {
    width: 200px;
    clip-path: circle(40% at 50% 50%);
}

ul {
    list-style-type: none;
}

.industries {
    display: flex;
    align-items: center;
    background-color: rgb(248, 251, 255);
    border-radius: 5px;
    overflow: hidden;
}

li {
    margin: 15px;
}

.industrie-picture {
    width: 200px;
}

.topic {
    list-style-type: circle;
}

.industrie {
    margin-left: 30px;
}

input[type="file"] {
    display: none;
}

.profile {
    position: relative;
}

#upload-icon {
    position: absolute;
    left: 130px;
    bottom: 40px;
    width: 40px;
    border-radius: 50%;
    border: 1px solid;
}

#upload-icon:hover {
    cursor: pointer;
}

#save-changes {
    display: none;
    position: absolute;
    font-size: 40px;
    font-weight: bold;
    color: darkgreen;
    border-radius: 50%;
    left: 129px;
    bottom: 32px;
    background-color: rgb(255, 255, 255);
    border: solid 1px;
    clip-path: circle(40% at 50% 50%);
}

#save-changes:hover {
    cursor: pointer;
}

.loader {
    position: absolute;
    border: 6px solid #e2e2e2;
    border-radius: 50%;
    bottom: 41px;
    background-color: white;
    left: 131px;
    border-top: 6px solid #3498db;
    width: 28px;
    height: 28px;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 2s linear infinite;
}


/* Safari */

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}